a:hover{
	color:#0056b3;
	text-decoration: none;
}

body {
  background-color: #F0EEEE;
  background-image: url(../images/background.jpg);
  background-size: cover;		
}

body main{
	padding-top: 45px;
}

code{
	background-color: #f9efef;
	font-weight: normal;
	border-radius: 3px;
}

.bground{
	background-color: rgba(0, 0, 0, 0.7);
	border: solid white;
	border-width: 2px;
}

.bottom-padding{
	padding-bottom: 35px;
}

.button{
	background-color:#343a40;
	color:#fff;
	border:none;
	font-size:20px;
	padding-left:10px;
	padding-right:10px;
}

.button:active{
	color:#fff;
}

.button:hover{
	background-color:#686E74;
}

.copyright{
	text-align:center;
}

.imageZoom{
	position: relative;
  	width: 100%;
}


.imageZoom .btn{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(85,85,85, 0.75);
    color: white;
    font-size: 16px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.learnHeader{
	color: #bababa;
}

.lessonPadding{
	padding-top:30px;
}

#lessonBar{
	padding-left:20px;
	text-align:left;
}

#lessonList{
	padding-left:0px;
}

#lessonList li{
	list-style: none;
	padding-bottom: 10px;
	font-size:18px;
}


.lessonTable{
	padding:5px 20px 2px 20px;
}

.marginTop{
	margin-top: 250px;
}


.moreText{
	display: none;
	margin-bottom: 10px;
}



.showMore{
	width: 300px;
	text-align: center;
	margin-bottom: 10px;
	border: solid black;
	border-width: 1px;

}

.reveal{
	text-align: center;
}

.nextButton{
	float:right;
	background-color: #4CAF50;
    color: white;
}

.next-previous{
	padding:20px;
}

.output{
	display: none;
}

.prevButton{
	background-color: #f1f1f1;
    color: black;
}

.row{
	padding:10px 20px 20px 20px;
}

.seeAll{
	text-align: right;
	font-size: 18px;	
}

.sidebar{
	font-size:12px;
	padding-left:none;
	padding-right:none;
}

.parallax{
	background-image:url('../images/comsci.jpg');
	min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10px;	
}

.textContainer{
	background-color: rgba(255, 255, 255, 0.85);
	border-radius:15px;
	margin-bottom:25px;
}

.tHead{
	font-size:35px;
}

.tHead th{
	border-top:none;
}

.tBody{
	font-size:20px;
}

.table tr:nth-child(even){
	background: rgba(255, 255, 255, 0.5);
}

.welcome{
	color: white;
	margin-top: 75px;
	text-align: center;
	padding-bottom:15px;
	position: absolute;
	left: 50%;
    transform: translate(-50%, 0);
}

