
.typeWriter{
	font-size: 65px;
	   font-family: Courier, Monospace;
}

@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink { 50% { border-color: transparent; } }

@media(min-width:1000px){
	.typeWriter { 
	    border-right: .075em solid white; 
	    margin: 0 auto;
	    width: 23ch;
	    white-space: nowrap;
	    overflow: hidden;
	    -webkit-animation: typing 2s steps(23, end),
	               blink .5s step-end infinite alternate;
	}
}

@media(max-width: 768px){
	.parallax{
		min-height:500px;
	}
}

@media(max-width: 992px){
	.welcome{
		margin-top:50px;
	}
}
